

.go-game{
    width: 100%;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.go-game__image{
    width: 100%;
    margin-bottom: 3.125rem;
}

.go-game__image img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.go-game__description{
    font-size: 1.3125rem;
    text-align: center;
    line-height: 1.11em;
    margin-bottom: 6.25rem;
}

.go-game__content{
    padding: 0rem 3.125rem 3.125rem 3.125rem;
}

.go-game__item{
    display: flex;
    align-items:  center;
    margin-bottom: 3.125rem;
}

.go-game__item:last-child{
    margin-bottom: 0rem;
}

.go-game__register{
    justify-self: center;
}

.go-game__point{
    margin-right: 6.0240%;
}

.go-game__text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

.go-game__btn{
    background-color: var(--seafoam-green);
    color: #fff;
}

.go-game__lists{
    margin-bottom: 6.25rem;
}