

.section-point__title{
    font-size: 28px;
    line-height: 1.2em;
    margin-bottom: 50px;
    font-weight: 700;
}

.item-description{
    background-color: #eee;
    padding: 1.25rem;
    border-radius: 0.375rem;
    margin-bottom: 3.125rem;
    position: relative;
    font-size: 14px;
    line-height: 1.25em;
}

.item-description p {
    margin-bottom: 0.937rem;
}

.item-description:last-child{
    margin-bottom: 0rem;
}

.item-description > div {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.info-about-punishment{
    font-weight: 400;
}


.info-about-punishment span{
   font-weight: 500;
   color: red;
   text-shadow: 0px 0px 2px red;
   margin-right: 10px;
}

.section-point{
    margin-bottom: 6.25rem;
}

.section-point:last-child{
    margin-bottom: 0rem;
}

/* .section-point::before{
    content: '';
    display: block;
    width: 100px;
    height: 100%;
  
}  */
