/* HOME PAGE */

.show-servers {
    height: 500px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .show-servers .swiper {
    height: 100%;
    width: 100%;
  }
  
  .show-servers .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    background-color: #fff;
  }
  
  .show-servers .swiper-slide {
    width: 100% !important;
  }
  
  .show-servers .swiper-wrapper {
    width: 100%;
  }
  
  .news {
    width: 100%;
  }
  
  .news__item {
    background-color: #fff;
  }
  
  .news__title {
    padding: 1.111rem;
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  .news__img {
    margin-bottom: 15px;
  }
  
  .news__content {
    padding: 0rem 1.111rem 0rem 1.111rem;
  }
  
  .news__description {
    font-size: 1.125rem;
    line-height: 1.5em;
    margin-bottom: 25px;
  }
  
  .news__info {
    display: flex;
  }
  
  .news__date {
    flex: 1 1 auto;
    padding-right: 8px;
  }
  
  .news__btn {
    padding: 13px 31px;
    background-color: var(--lime-green);
    font-size: 21px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    transform: translateY(-25%);
  }
  
  .app__container {
    position: relative;
    z-index: 10;
  }
  
  .app__img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .app__img img {
    width: 100vmax;
    height: 100%;
  }