

.side-bar{
    max-width: 22.187rem;
    width: 100%;
    background-color: #0000;
    grid-area: sidebar;
    justify-self: flex-end;
    padding-left: 1.25rem;
    margin-left: -1.25rem;
}

.info-section{
    width: 100%;
    background-color: #fff;
    margin-bottom: 1.5625rem;
}

.side-bar__name-section{
    background: var(--main-color);
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3125rem;
    line-height: 1.580em;
}

.form-sign__input-login{
    margin-bottom: 0.625rem;
}

.form-sign__input-pass{
    margin-bottom: 1.25rem;
}

.form-sign{
    width: 100%;
}

.from-sign__wrapper{
   text-align: center;
}

.sign-btn{
    padding: 11px;
    width: 100%;
    display: block;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    line-height: 1.5em;
    font-weight: 500;
}

.sign__btn-sign{
   width: 80%;
   margin-bottom: 1.25rem;
}

.sign__name-section{
    margin-bottom: 1.25rem;
}

.sign-btn:last-child{
    margin-bottom: 0rem;
}

.sign-btn--green{
    background-color: var(--seafoam-green);
}

.sign-btn--red{
    background-color: var(--main-color);
}

.user__btn{
    color: #fff;
    background-color: var(--coral);
}

.user__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    padding: 0rem 1rem;
}

.user a{
    color: #000;
}

.user__name{
    font-size: 1.3125rem;
    line-height: 1.5em;
}

.user__coins{
    font-size: 1.25rem;
    line-height: 1.1em;
}

.user__header{
    margin-bottom: 0.9375rem;
}

.user_btn{
    background-color: transparent;
    display: block;
    font-size: 1.25rem;
}


.lists-items{
    padding: 0rem 1rem;
  }
  
  .lists-items a{
    color: #000;
  }  



/* monitoring */

.monitoring__state-players{
    font-size: 1rem;
}

.monitoring__server-name{
    margin-bottom: 5px;
}

.monitoring__count-players{
    margin-bottom: 10px;
}

.monitoring__indicator-container{
   width: 100%;
   height: 6px;
   border-radius: 6px;
   background-color: #c5c1c1;
   position: relative;
}

.monitoring__indicator{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: rgb(40, 163, 40);
    border-radius: 6px;
}



/* social  */

.social-sidebar__item{
    width: 100%;
    text-align: center;
    font-size: 1.3125rem;
    line-height: 1.580em;
    color: #fff;
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
    cursor: pointer;
}

.social-sidebar{
    width: 80%;
}

.social-sidebar__item p{
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 24px;
}

.social__name-section{
    margin-bottom: 0.625rem;
}


.social-sidebar__vk{
    background: #4e8ace;
    
}

.social-sidebar__ds{
    background: #7289da;
}

.user__coins span{
    margin-right: 5px;
}